---
---

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$true-black: #000;
$black: #454545;

$true-white: #fff;
$off-white: #fefefe;
$dark-white: #f1f1f1;

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: $black;
	background-color: $off-white;

	> nav {
		background-color: $dark-white;
	}
}

.container {
	padding: 0 15px 0;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $screen-sm-min) {
		width: 750px;
	}
	@media (min-width: $screen-md-min) {
		width: 970px;
	}
	@media (min-width: $screen-lg-min) {
		width: 1170px;
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	&:after {
		content: "";
		clear: both;
		display: table;
	}

	> li {
		display: block;
		position: relative;
		float: left;

		> a {
			display: block;
			padding: 15px;
			color: $black;
		}
	}

	> li.active {
		font-weight: bold;
	}
}