<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {% include navigation.html %}

    <section class="main">
      <div class="container">{{ content }}</div>
    </section>

    <footer>
      <div class="container">
        <div><i class="fa fa-github" aria-hidden="true"></i></div>
        <div>I don't know why I even have a footer</div>
      </div>
    </footer>
  </body>
</html>