<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {% include navigation.html %}

    <section class="main">
      <div class="container">{{ content }}</div>
    </section>

    <footer>
      <div class="container">
        <p>I don't know why I even have a footer, the cool hip thing is the infinite-scrolling single page design.</p>
      </div>
    </footer>
  </body>
</html>